---
// @ts-ignore
import { Icon } from "astro-icon";
import Link from "@components/ui/link.astro";


const features = [
  {
    title: "Documentation",
    description:
      "Build your site using React, Svelte, Vue, Preact, web components, or just plain ol' HTML + JavaScript.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Results Page",
    description:
      "Astro renders your entire page to static HTML, removing all JavaScript from your final build by default.",
    icon: "bx:bxs-window-alt",
  },
  // {
  //   title: "On-Demand Components",
  //   description:
  //     "Need some JS? Astro can automatically hydrate interactive components when they become visible on the page.  ",
  //   icon: "bx:bxs-data",
  // },
  // {
  //   title: "Broad Integration",
  //   description:
  //     "Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX, and any other npm packages.",
  //   icon: "bx:bxs-bot",
  // },
  // {
  //   title: "SEO Enabled",
  //   description:
  //     "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
  //   icon: "bx:bxs-file-find",
  // },
  // {
  //   title: "Community",
  //   description:
  //     "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
  //   icon: "bx:bxs-user",
  // },
];
---

<div class="mt-16 md:mt-0 mb-8">
  <h2 class="text-4xl lg:text-4xl font-bold lg:tracking-tight">
    The Problem
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Understanding the impact of the foods that we eat can be overwhelming. For children, visualizing the nutritional value and environmental impact of the foods that we eat can be a daunting task. The Food Calculator is an easy-to-use application for elementary and middle school students to learn about the nutritional value, carbon footprint, and water footprint of their favorite foods.
  </p>
</div>

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-4xl font-bold lg:tracking-tight">
    Why Games for Healthy People and Healthy Planet?
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Our Food Calculator is unique because it provides a friendly interface for children to learn about the foods that they are eating. Not only can you see nutritional and environmental information about a single food, but you can put together a whole meal! The project's purpose is to improve children's health and environmental health through climate-resilient food citizenship. We want children to have positive experiences with all stages of their food including planning, shopping, cooking, and eating.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    <Link
        href="#"
        href="https://github.com/emmakoehmstedt/healthy-games-for-healthy-people-and-healthy-planet"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
         Documentation
      </Link>
  }
</div>
